$some-space: 24px;
$text-font-size: 16px;
$app-font: "Fira Sans";
$text-color: rgba(0, 0, 0, 0.8);
body {
  font-family: $app-font;
  margin: $some-space $some-space $some-space $some-space;
  font-size: $text-font-size;
  line-height: 1.13;
  color: $text-color;
}

button {
  user-select: none;
}

$app-name-font-size: 24px;

.app-name {
  text-align: center;
  font-size: $app-name-font-size;
}

$less-space: 16px;
$slight-grey: rgba(0, 0, 0, 0.5);

.interpolated {
  color: $text-color;
}

.status {
  margin-top: $less-space;
  color: $slight-grey;
}

.heading {
  margin: $less-space auto;
  text-transform: uppercase;
  color: $slight-grey;
  padding-bottom: 6px;
  border-bottom: 1px solid $slight-grey;
}

.explanation {
  color: $text-color;
}

$border-radius: 8px;
$card-padding: 8px;

.action-card {
  display: block;
  width: 100%;
  text-decoration: underline;
  padding: $card-padding;
  border: 1px solid $slight-grey;
  border-radius: $border-radius;
  margin: $less-space 0 0 0;
  font-size: $text-font-size;
  color: $text-color;
  background: unset;
  cursor: pointer;
  &:active {
    font-weight: bold;
  }
}

%card-section {
  color: $slight-grey;
  padding: $card-padding $card-padding $card-padding $card-padding;
  border-bottom: 1px solid $slight-grey;
}

%bottom-section {
  border-bottom: none;
}

.message {
  margin: $less-space 0 0 0;
  border: 1px solid $slight-grey;
  border-radius: $border-radius;
  .metadata {
    @extend %card-section;
  }
  %overridden-button {
    background: unset;
    border: unset;
    font-size: $text-font-size;
    font-family: $app-font;
    cursor: pointer;
    text-decoration: underline;
    color: $text-color;
    &:active {
      font-weight: bold;
    }
  }
  .show-recipients {
    @extend %overridden-button;
    @extend %card-section;
    border-bottom: 1px solid $slight-grey;
    width: 100%;
  }
  .actions {
    @extend %card-section;
    display: flex;
    justify-content: space-evenly;

    button {
      @extend %overridden-button;
      padding: 0 $some-space 0 $some-space;
    }
  }
  .content {
    @extend %card-section;
    color: $text-color;
  }
  .expand {
    @extend %card-section, %bottom-section, %overridden-button;
    width: 100%;
  }
}
